.board-cards {
  width: 40px;
  height: 40px;
}
.board-cards > h4 {
  margin: 20px;
}
.board-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  margin: 10px 0px;
  padding: 5px;
}
a {
  text-decoration: none;
}
.container {
  background: none;
  height: 200px;
}
.board-cards:hover {
  cursor: pointer;
  backdrop-filter: blue(5px);
}
.Board {
  color: white;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}
