.board-card {
  margin: 10px 10px;
  width: 200px;
  font-weight: 600;
  color: white;
  height: 100px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
  background-size: cover;
  background-position: center;
}
.board-card > h4 {
  margin: 20px;
}
.star {
  position: relative;
  left: 150px;
  z-index: 2;
}
.board-card:hover {
  cursor: pointer;
  backdrop-filter: blue(5px);
}
