.container {
  width: 80vw;
  height: 80vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  height: 90vh;
}
.task-bar {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
.del {
  background-color: red;
  color: white;
  font-weight: 700;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  margin: 0px;
  margin-right: 0px;
  text-align: center;
  font-size: 25px;
  padding: 0px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.edit-button {
  width: auto;
  height: 30px;
  margin: 0px;
  padding: 0px;
}
.card {
  margin: 10px 5px;
  width: 250px;
  height: fit-content;
  max-block-size: 500px;
  overflow-y: scroll;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card::-webkit-scrollbar {
  display: none;
}
.add-block {
  margin: 20px;
  width: 250px;
  height: 200px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
}
.add-task {
  width: 80%;
  height: 20px;
  background-color: aliceblue;
  margin: 50px 10px;
}
.task {
  width: 90%;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  box-shadow: 1px 1px 3px black;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
}
.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 5px;
}
.name > button {
  height: 20px;
}
.edit {
  position: relative;
  width: 40vw;
  height: 90vh;
  top: 50px;
  left: 30vw;
  background-color: rgb(241, 242, 244);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.whiter {
  width: 200px;
  height: 20px;

  background-color: hsla(0, 0%, 98%, 0.247);
  color: white;
  padding: 20px;
  margin: 25px;
  font-weight: 700;
  border-radius: 5px;
}
.whiter:hover {
  cursor: pointer;
}
.Addcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
#button-add {
  width: 70%;
}
