.contain,
.cont {
  display: flex;
  width: auto;
  flex-wrap: nowrap;
  height: 85vh;
  background-color: rgb(0, 121, 191);
  /* background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1200x1600/97b255ee589a3cfc1efa9d48814d60d7/photo-1703818770847-0f2948e0611b.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.cont {
  overflow-x: scroll;
  width: 85vw;
}
h1 {
  margin: 20px;
}
